.sidebar-block {
  position: fixed;
  top: 0;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;

  &.active {
    display: block;
  }

  &__wrap {
    width: 250px;
    height: 100%;
    background-color: #333;
    box-shadow: 10px 2px 10px -7px rgb(#000, 0.6);
  }
}

.sidebar{
  &__logo{
    height: 40px;
    padding: 15px 19px;

    svg{
      height: 40px;

      path{
        stroke: none;
      }
    }
  }
}

.sidebar-item {
  &-button {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    padding: 0 10px;
    border: none;
    background-color: #333;

    &__icon {
      width: 30px;
      height: 30px;
      padding: 10px;
    }

    &__text {
      font-family: Raleway, 'Times New Roman', serif;
      font-size: 18px;
      text-align: start;
      color: #aaa;
    }
  }
}

@media (min-width: 1024px) {
  .sidebar-block {
    position: sticky;
    top: 70px;
    z-index: 2;
    display: block;
    width: 60px;
    height: calc(100vh - 70px);

    &__wrap {
      position: fixed;
      top: 70px;
      z-index: 3;
      width: 60px;
      height: calc(100% - 10px);
      padding-top: 10px;
      background-color: #222;
      box-shadow: none;
    }
  }

  .sidebar {
    &__logo {
      display: none;
    }
  }

  .sidebar-item {
    padding-left: 10px;

    &-button {
      padding: 5px;
      background-color: #222;
      cursor: pointer;

      &:hover {
        border-radius: 50%;
        background-color: #333;

        path{
          stroke: #fff;
        }

        p{
          color: #fff;
        }
      }

      &__icon {
        width: 30px;
        height: 30px;
        padding: 5px;
      }

      &__text {
        display: none;
      }
    }
  }

  .sidebar-block.active {
    width: 250px;

    .sidebar {
      width: 250px;
    }

    .sidebar-item {
      padding: 0;

      &-button {
        gap: 10px;
        padding-left: 15px;

        &:hover {
          border-radius: 0 25px 25px 0;
        }

        &__text {
          display: block;
          font-size: 18px;
        }
      }
    }
  }
}
