@import './blocks/header-block';
@import './blocks/sidebar-block';
@import './blocks/adding-form';

body {
  background-color: #222;
  box-sizing: border-box;
}

main {
  display: flex;
}

svg {
  fill: #aaa;
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 60px;
}


